#about_us {

  background-image: url('/images/grey-blocks-left.png');
  background-repeat: no-repeat;

}

@media only screen and (max-width: 991px) {

  #about_pete .quote{
    text-align:center;
  }


}