#blog-listing {

  padding-top: 10px;

  .post {

    min-height: 260px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      opacity: 0.5 !important;
    }
  }

  img {

    padding: 0;
    margin: auto;

  }

  a {
    text-decoration: none;
  }

  p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0 25px 0;
    line-height: 28px;
  }

  .wrapper #mlb2-3962092 {
    display: none;
    h4 {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {

    p {
      font-size: 22px;
    }

    .wrapper #mlb2-3962092 {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {

    p {
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 992px) {

    .post {

      min-height: 280px;

    }

  }

  @media only screen and (min-width: 1130px) {

    .post {

      min-height: 300px;

    }

  }

  @media only screen and (min-width: 1200px) {

    .post {

      min-height: 260px;

    }

  }

  @media only screen and (min-width: 1333px) {

    .post {

      min-height: 300px;

    }

  }

}

#blog_post {
  background-image: url('/images/grey-blocks-left.png');
  background-repeat: no-repeat;
  padding-bottom: 70px;
}