#blog-listing {

  padding-top: 10px;

  .post {

    min-height: 260px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      opacity: 0.5 !important;
    }
  }

  img {

    padding: 0;
    margin: auto;

  }

  a {
    text-decoration: none;
  }

  p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0 25px 0;
    line-height: 28px;
  }

  .wrapper #mlb2-3962092 {
    display: none;
    h4 {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {

    p {
      font-size: 22px;
    }

    .wrapper #mlb2-3962092 {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {

    p {
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 992px) {

    .post {

      min-height: 280px;

    }

  }

  @media only screen and (min-width: 1130px) {

    .post {

      min-height: 300px;

    }

  }

  @media only screen and (min-width: 1200px) {

    .post {

      min-height: 260px;

    }

  }

  @media only screen and (min-width: 1333px) {

    .post {

      min-height: 300px;

    }

  }

}

#blog_post {
  background-image: url('/images/grey-blocks-left.png');
  background-repeat: no-repeat;
  padding-bottom: 70px;
}

//.wrapper #mlb2-3962092 {
//  float : left;
//  margin-top:30px;
//  margin-right:30px;
//  margin-bottom:20px;
//}
//
//.wrapper #mlb2-3962092 .subscribe-form {
//  width: 300px !important;
//  border-radius: 0px !important;
//  border: 0px solid #F6F6F6 !important;
//  padding: 20px !important;
//}
//
//.wrapper #mlb2-3962092 .subscribe-form p {
//  text-align: left !important;
//  padding: 20px !important;
//}

@media screen and (max-width: 600px) {

  //.wrapper #mlb2-3962092 {
  //  display:none;
  //}
}