#logic-room #code-reviews-legacy {
  .img-responsive {
    width: 120px;
  }

  .code-reviews-legacy {
    ul {
      width: 70%;
      margin: auto;
    }

    .box {
      height: 400px;
    }
    .languages {
      text-align: center;
    }



  }

  .code-review {

    .faq {

      .answer {
        display : none;
      }

      .row {
        cursor : pointer;


        img{
          max-width: none !important;
          display : inline;
          cursor : pointer;
          padding: 0 0 0 15px !important;
        }

        h5 {
          cursor : pointer;
          margin : 0px;
          padding-left: 4px;
          padding-top : 2px;
        }

        .col-xs-1{
          padding-left : 0px !important;
        }

      }

    }

    .questions p{
      margin-bottom : 2px;
      text-align : center;
    }

    .requirements {
      img {
        width : 90px;
      }
      p {
        text-align: center;
      }
    }
  }

}

@media only screen and (min-width: 530px) {


  #code-reviews-legacy {

    .code-review {
      .faq {
        .row {
          h5 {
            padding-left: 0px;
          }
        }
      }
    }
  }

}


@media only screen and (min-width: 780px) {


  #code-reviews-legacy {

    .code-review {
      .faq {
        .row {
          h5 {
            padding-top: 0px !important;
          }
        }
      }
    }
  }

}




@media only screen and (min-width: 768px) {

  #code-reviews-legacy {

    .code-review {
      .faq {
        .row {
          h5 {
            padding-left: 0px !important;
          }
        }
      }
    }

    .code-reviews-legacy {
      .hug-bottom {
        //position: absolute;
        bottom: 0px;
      }

      .box {
        height: 800px !important;
      }
    }

  }

}


@media only screen and (min-width: 856px) {

  #code-reviews-legacy {

    .code-reviews-legacy {

      .box {
        height: 700px !important;
      }
    }

  }

}

@media only screen and (min-width: 1000px) {

  #code-reviews-legacy {

    .code-reviews-legacy {

      .box {
        height: 620px !important;
      }
    }

  }

}


@media only screen and (min-width: 1200px) {

  #code-reviews-legacy {

    .code-reviews-legacy {

      .box {
        height: 700px !important;
      }
    }

  }

}




@media only screen and (min-width: 1300px) {

  #code-reviews-legacy {

    .code-reviews-legacy {

      .box {
        height: 640px !important;
      }
    }

  }

}



