#main .site {
  h2, h3 {
    margin:0;
  }
  position: relative;
  background-image: url("/images/grey-blocks-left.png");
  background-repeat: no-repeat;
  background-position: top left;
  height:1200px;

  blockquote p {
    font-style : italic;
  }

  .small-p{
    margin:0px;
  }

}







@media only screen and (min-width : 768px) {

  .highlight {
    font-size :  em(18);
  }

  .highlighter-rouge {
    font-size :  em(10);
  }

}

@media only screen and (min-width : 992px) {


  .post {
    p {
      font-size: em(10);
    }
  }

  .highlighter-rouge {
    font-size :  em(10);
  }

}