---
layout: default
title : Web Mobile App Software Development in Reading and Digital Transformation
---

<div id="main">

{% include landing.html %}


  <div id="services"></div>
  <section id="experts" style="background-image:none; padding-bottom:10px;">
    <div class="wrapper">

      <br>
      <br>

      <br>

      <h2 class="text-orange center" style="max-width:500px; margin:auto;">
        JavaScript Craftsmanship For Web and Mobile Digital Products
      </h2>

      <br>

      <!--<p class="white-text">-->
      <!--When we build sof-->
      <!--</p>-->

      <br>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <h3 class="title center">Responsive Web App <br> & Backend Development</h3>

          <br>

          <p class="">
            We build beautiful and well-engineered products for the web. Specialists in Single Page Application (SPA) development. Performance optimised
            code that runs fast in any browser.
          </p>

          <ul>
            <li>Angular 1/2</li>
            <li>React</li>
            <li>Meteor</li>
            <li>Modular CSS using LESS</li>
            <li>Node.js Experts</li>
          </ul>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <h3 class="title center">Cross-Platform <br>  Mobile App Development</h3>

          <br>

          <p class="">
            We are thoroughbred software designers who specialise in decoupling applications, this allows them to be ported to
            multiple platforms; desktop to mobile
          </p>

          <ul>
            <li>Modular Code Specialists</li>
            <li>Hybrid (CSS and HTML5) using Cordova (Phonegap)</li>
            <li>Native for IOS and Android using React Native</li>
            <li>NativeScript and Angular 2</li>
          </ul>

        </div>


      </div>

    </div>

  </section>



<!--{% include services.html %}-->
{% include projects.html %}
{% include experts.html %}
{% include testimonials.html %}
{% include how_we_work.html %}
{% include articles.html %}
{% include footer.html %}

</div>