---
title : Custom Web and Software Development Company | Logic Room
keywords : Custom Software Company, Bespoke Web and Mobile App Software Development Reading
description : Logic Room is UK based software consultancy that builds web and mobile software that doesn't break all the time. Contact us now!
layout: default_navigation
---

<div id="main">

  {% include landing/home.html %}

  <section id="services">
    <div class="spacer"></div>
    <div class="wrapper">
      {% include services/cross_platform.html %}
    </div>
  </section>

  {% include services/javascript.html %}
  {% include projects.html %}
  {% include experts.html %}
  {% include testimonials.html %}
  {% include how_we_work.html %}
  {% include articles.html %}
  {% include footer.html %}

</div>