---
title : Hire Digital Transformation Developers In Reading and London
layout: default_no_navigation
type : page
---


<div id="main" class="hire-js-devs">

  {% include landing/digital_transformation.html %}

  <div class="clients" style="background-color: white;">


    <div style="max-width:900px; margin:auto;">

      <br>
      <br>

      <h2 class="center" style="color:#5a5a5a; max-width:500px; margin:auto;">
        Organisations that work with us
      </h2>

      <br>
      <br>


      <div class="row">

        <div class="col-sm-4 col-sm-offset-2 center">

          <img style="display: inline; max-width: 150px !important; visibility: visible; animation-name: fadeIn;"
               src="/images/cisco.png" class="wow fadeIn">


        </div>


        <div class="col-sm-4 center">

          <img style="display: inline; max-width: 150px !important; visibility: visible; animation-name: fadeIn;"
               src="/images/tristar.png" class="wow fadeIn">

        </div>

      </div>


    </div>

    <br>

  </div>

  {% include services/javascript.html %}

  <br>
  <br>

  {% include testimonials.html %}

  <div id="lets-talk" class="center"
       style="padding:20px; max-width:1200px; padding:50px; background-color: lightgray; margin:auto; z-index:1001; position:relative; border-radius:5px;">

    <br>

    <h1 class="center" style="color:#5a5a5a; max-width:500px; margin:auto;">
      Work With Logic Room
    </h1>

    <br>

    <h3 class="center" style="font-size:20px;color:#000000; max-width:500px; margin:auto;">
      use form below / email : <a href="mailto:hq@logicroom.co">hq@logicroom.co</a> / tel : 0118 328 3255
    </h3>

    <br>
    <br>
    <br>

    <form name="landing-page" action="thank-you" netlify>

      <div class="row">

        <div class="col-md-6 form-item center">
          <input type="text" name="name" placeholder="Name">
        </div>

        <div class="col-md-6 form-item center">
          <input type="email" name="email" placeholder="Email">
        </div>

      </div>

      <div class="row">

        <div class="col-md-6 form-item center">
          <input type="text" name="company16" placeholder="Company/Organisation">
        </div>

        <div class="col-md-6 form-item center">
          <input type="text" name="number" placeholder="Phone Number">
        </div>

      </div>


      <div class="row">

        <div class="col-md-12 form-item center">
          <textarea type="text" name="message" placeholder="Message" rows="5"></textarea>
        </div>

      </div>

      <div class="row">

        <div class="col-md-12 form-item center">

          <button class="btn-form-submit">Let's Talk</button>

        </div>

      </div>

    </form>

    <br>
    <br>
    <br>
    <br> <br>
    <br>


  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>

<br>
<br>
<br>
<br>
<br>
<br>





