body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.2;
  font-size: 16px;
}

.wrapper {
  width: 1440px;
  max-width: 60%;
  margin: 0 auto;
}

.centered {
  text-align: center;
}

.navbar-fixed {
  nav {
    background-color:#07121b;
  }
}




p {
  font-family: 'Dosis-ExtraLight';
  color: #888888;
}
a {
  font-family: 'Dosis-Light';
  font-size: em(18);
  font-weight: 700;
  line-height: 54px;
  text-decoration: none;
}
.material-icons {
  display: inline-flex;
  vertical-align: middle;
  padding-bottom: .3em;
}
