<section id="articles">
  <div class="wrapper">
    <h2>Recent Articles</h2>
    <div class="row">
      {% for post in site.posts limit:6 %}
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="post">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <img class="img-responsive" src="images/{{%post.thumbnail%}}" alt="">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <h3><a style="display:inline; text-decoration: none; color:black;" href="{{post.url}}">{{post.title}}</a></h3>
              <div class="span">
                <span>{{ post.date | date: "%B, %d, %Y %R %P" }}</span>
              </div>
              <p class="content">{{ post.excerpt }}</p>
              <a href="{{post.url}}" class="but">Read article  <i class="material-icons">trending_flat</i></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</section>
