

<div id="lets-talk">


  <br>
  <br>

  <p id="header1" class="center header1" style="color:#5a5a5a; margin:auto;">
    Request a call back...
  </p>

  <br>
  <br>


  <div  class="center" style="padding:20px; max-width:1200px; padding:50px; background-color: lightgray; margin:auto; z-index:1001; position:relative; border-radius:5px;">

    <form name=" {{ include.content }} " action="{{ include.content }}" netlify>

      <div class="row">

        <div class="col-md-6 form-item center">
          <input type="text" name="name" placeholder="Name" required>
        </div>

        <div class="col-md-6 form-item center">
          <input type="text" name="number" placeholder="Phone Number" required>
        </div>

      </div>

      <div class="row">

        <div class="col-md-12 form-item center">

          <br>

          <button class="btn-form-submit">Submit</button>

          <br>
          <br>

        </div>

      </div>

    </form>

    <h4>
      Or
    </h4>

    <br>

    <h4 class="center" style="color:#5a5a5a; margin:auto;">
      If you would like to <span style="color:#f44f32;">email</span> please use <span style="color:#f44f32;"><a href="mailto:hq@logicroom.co?Subject=Enquiry" target="_top">hq@logicroom.co</a></span>

    </h4>

    <br>
    <br>

    <h4 class="center" style="color:#5a5a5a; margin:auto;">
      If you would like to <span style="color:#f44f32;">chat now</span> just call our founder Pete on <span style="color:#f44f32;">07889 812612</span>
    </h4>


  </div>


</div>

