<form name="contact" action="thank-you" netlify="">

  <div class="row">

    <div class="col-md-6 form-item center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <input type="text" name="name" placeholder="Name">
    </div>

    <div class="col-md-6 form-item center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <input type="email" name="email" placeholder="Email">
    </div>

  </div>

  <div class="row">

    <div class="col-md-6 form-item center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <input type="text" name="phone" placeholder="Phone Number">
    </div>

    <div class="col-md-6 form-item center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

      <select class="form-dropdown" id="reason-for-contact" name="reason-for-contact" tabindex="1" autofocus="autofocus">
        <option style="color: red" selected="selected" disabled="disabled">
          Reason for contact
        </option>
        <option value="general">Training/Guidance</option>
        <option value="services">Code Review/Legacy Support</option>
        <option value="careers">Custom Development (Web/Mobile/Enterprise)</option>
      </select>

    </div>

  </div>

  <div class="row">

    <div class="col-md-12 form-item center">
      <textarea type="text" name="message" placeholder="Message" rows="5"></textarea>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12 form-item center">

      <button class="btn-form-submit">GET IN TOUCH</button>

    </div>

  </div>

</form>