<!-- SECTION: Experts -->
  <section id="experts">
    <div class="wrapper">

      <h2 class="text-orange">Supporting your Digital Transformation with Expert Development Knowledge and Disciplines</h2>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3 class="title white-text">Software Architecture</h3>
            <p class="white-text">
              You can't rapidly transform your business without high code quality code. We specialise in producing well engineered Object Oriented code which can be extended and maintained. We use a mix
              of our own software design principles coupled with industry recognised practices such as Xtreme Programming (XP). We don’t just lump in buzzwords for the sake of it,
              we take care to make sure that everything we do is based around optimising team performance and output in a way that controls <strong>risk</strong>.
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3 class="title white-text">Test Driven Development (TDD)</h3>
            <p class="white-text">
              It's not enough for us to put a practice into a development workflow without mastering it first. We have given countless talks and presentations on the deep synergy between advanced software
              design and the application of automated testing. We use a unique blend of Behaviour Driven Development (BDD) and Test Driven Development (TDD) to ensure our output of working software is optimised to
              deliver well tested systems for the lowest <strong>cost</strong> possible.
            </p>
          </div>
        </div>

      <div class="row">

        <br>
        <br>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 centered">
          <a href="/inquire" class="btn-large">inquire</a>
          <br>
          <br>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 centered">
          <a class="btn-large-white popup-youtube" href="https://www.youtube.com/watch?v=rZPrftWLfrc"><i class="material-icons">play_circle_outline</i>  watch our video</a>
          <br>
          <br>
        </div>
      </div>

    </div>

  </section>
<!-- END SECTION: Inquire -->
