<!-- SECTION: Inquire -->
  <section id="inquire">
    <div class="wrapper">

      <h2 class="text-orange">experts in Test Driven Development <br> and Software Architecture</h2>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3 class="title">Experts in Test Driven Development</h3>'
            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3 class="title">Software Architecture</h3>
            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 centered">
          <a href="#!" class="btn-large">inquire</a>
          <br>
          <br>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 centered">
          <a class="btn-large-white popup-vimeo" href="https://vimeo.com/45830194"><i class="material-icons">play_circle_outline</i>  watch our video</a>
          <br>
          <br>
        </div>
      </div>


    </div>

  </section>
<!-- END SECTION: Inquire -->
