<!-- Background -->
<div class="landing">

    <img class="city-scape" src="/images/city-scape.png"/>

    <img class="blue-blocks-left" src="/images/blue-blocks-left.png"/>

    <img class="blue-blocks-right" src="/images/blue-blocks-right.png"/>

    <div class="wrapper">



      <div class="row lines">
        <div class="col-xs-12 col-lg-2  center">
          <img class="logo" src="/images/logo.png"/>
        </div>
        <div class="col-xs-12 col-lg-10 ">
          <h1 class="title">We create Web, Mobile and Enterprise Solutions for organisations <span>that leaves them with a smile on their face...</span></h1>
        </div>
      </div>


        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 centered">
            <a href="#!" class="btn-large">inquire</a>
            <br>
            <br>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 centered">
            <a class="btn-large-white popup-vimeo" href="https://vimeo.com/45830194"><i class="material-icons">play_circle_outline</i>  watch our video</a>
            <br>
            <br>
          </div>
        </div>


      <h5 class="psst text-white center-align">pssst... we also offer training and code reviews check out full list of <a href="/services">services</a></h5>

    </div>

</div>
