<!-- Background -->
<div class="landing">

  <img class="city-scape" src="/images/city-scape.png"/>

  <img class="blue-blocks-left" src="/images/blue-blocks-left.png"/>

  <img class="blue-blocks-right" src="/images/blue-blocks-right.png"/>

  <div class="wrapper">


    <div class="row lines">
      <div class="col-xs-12 col-lg-2  center">
        <img class="logo" src="/images/logo.png"/>
      </div>
      <div class="col-xs-12 col-lg-10 center">
        <h1 class="title">We build web, mobile and enterprise software for clients <span>who are serious about Digital Transformation...</span>
        </h1>
      </div>
    </div>


    <div class="row">
      <br>
      <br>
      <div class="col-md-3"></div>
      <div class="col-xs-12 col-md-3 center">
        <br>
        <a href="/inquire" class="btn-large">inquire</a>
        <br>
      </div>
      <div class="col-xs-12 col-md-3 center">
        <br>
        <a class="btn-large-white popup-youtube" href="https://www.youtube.com/watch?v=rZPrftWLfrc"><i class="material-icons">play_circle_outline</i>
          watch our video</a>
        <br>
      </div>
      <div class="col-md-3">
      </div>
    </div>

    <br>
    <br>
    <br>

    <h5 class="psst text-white center-align">pssst... we also offer training and code reviews check out full list of <a
      href="/#services">services</a></h5>

  </div>

</div>
