
<header class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">{{ site.name }}</a>
      <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <!-- DESKTOP -->
      <ul class="right hide-on-med-and-down overlay-menu">
        {% for nav in site.data.navigation %}
        <li>
          {% if page.url == '/' %}
            <a class="{{nav.class}}" href="{{nav.url}}">{{nav.text}}</a>
          {% else %}
            <a class="{% if page.url ==  nav.path %}current {% endif %}{{nav.class}}" href="/{{nav.url}}">{{nav.text}}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>


      <ul class="side-nav right overlay-menu" id="mobile-demo">
        {% for nav in site.data.navigation %}
        <li>
          {% if page.url == '/' %}
          <a class="{{nav.class}}" href="{{nav.url}}">{{nav.text}}</a>
          {% else %}
          <a class="{{nav.class}}" href="/{{nav.url}}">{{nav.text}}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>


    </div>
  </nav>
</header>
