 <section id="testimonials">
    <div class="wrapper">
      <h3>What People are Saying</h3>
      <div class="owl-carousel">
        <!-- Copy This Item -->
        {% for slider in site.data.settings.testimonials %}
        <div class="item">
          {{ slider.content }}
          <div class="client">
            <div class="row">
              <div class="client-face col-xs-4">


                <img style="padding:0px; padding-top:25px; width:100px;" src="/images/{{ slider.image }}" alt=""/>
              </div>
              <div class="client-content col-xs-8">
                <h3>{{ slider.name }}</h3>
                <p>{{ slider.description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- End Copy -->
      </div>
    </div>
  </section>
