 <section id="testimonials">
    <div class="wrapper">
      <h2>what people are saying</h2>
      <div class="owl-carousel">
        <!-- Copy This Item -->
        {% for slider in site.data.settings.testimonials %}
        <div class="item">
          {{ slider.content }}
          <div class="client">
            <div class="row">
              <div class="client-face col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <img src="images/{{ slider.image }}" alt=""/>
              </div>
              <div class="client-content col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <h3>{{ slider.name }}</h3>
                <p>{{ slider.description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- End Copy -->
      </div>
    </div>
  </section>
