#content {
  //@include padding(5em null 5em null);
  position: relative;

  h2 {
    margin: 0 0 0 0;
    padding-top:20px;
  }

  h3 {

  }

  background-image: url("/images/grey-blocks-left.png");
  background-repeat: no-repeat;
  background-position: top left;
  height:1200px;
}