<h3 class="center">Request Details / Pricing</h3>


<form name="code-review-form" action="thank-you" netlify="">

  <div class="row">

    <div class="col-md-6 form-item center">
      <input type="text" name="name" placeholder="Full Name">
    </div>

    <div class="col-md-6 form-item center">
      <input type="email" name="work-email" placeholder="Work Email">
    </div>

  </div>

  <div class="row">

    <div class="col-md-6 form-item center">
      <input type="text" name="position" placeholder="Title/Position">
    </div>

    <div class="col-md-6 form-item center">

      <select class="form-dropdown" id="objective" name="objective">
        <option style="color: red" selected="selected" disabled="disabled">
          Objective?
        </option>
        <option value="agile delivery">  Improve Delivery</option>
        <option value="developer skills"> Improve Developer Skills</option>
        <option value="cloud or legacy support">  Cloud Migration/ Legacy Support</option>
        <option value="security">  Security Audit</option>
        <option value="other">  Other</option>
      </select>

    </div>

  </div>

  <div class="row">

    <div class="col-md-12 form-item">

      <select class="form-dropdown" id="reason-for-contact" name="reason-for-contact">
        <option style="color: red" selected="selected" disabled="disabled">
          Language
        </option>
        <option value="general">  Javascript</option>
        <option value="services"> C#</option>
        <option value="careers">  Java</option>
        <option value="careers">  Ruby</option>
        <option value="careers">  Python</option>
        <option value="careers">  Swift</option>
        <option value="careers">  Other</option>
      </select>

    </div>

  </div>

  <div class="row">

    <br>
    <br>

    <div class="col-md-12 form-item center">

      <button class="btn-form-submit">REQUEST DETAILS</button>

    </div>

  </div>

</form>

<br>
<br>