<style>
  #logic-room .platforms img {
    max-width:140px !important;
  }
</style>

<div class="platforms row">

  <div class="col-xs-12 col-sm-3">

    <img src="/images/icons/web-square.png"/>

    <br>

    <h5 class="center">Web</h5>

    <br>

  </div>


  <div class="col-xs-12 col-sm-3">

    <img src="/images/icons/mobile-square.png"/>

    <br>

    <h5 class="center">Mobile</h5>

    <br>

  </div>


  <div class="col-xs-12 col-sm-3">

    <img src="/images/icons/desktop-square.png"/>

    <br>

    <h5 class="center">Desktop</h5>

    <br>

  </div>


  <div class="col-xs-12 col-sm-3">

    <img src="/images/icons/server-square.png"/>

    <br>

    <h5 class="center">Server</h5>

    <br>

  </div>


</div>