

<div class="platforms row">

  <div class="col-xs-12 col-sm-4">

    <a style="text-decoration: none" href="/services/web-application-development-reading-berkshire">

      <img src="/images/icons/web-square.png"/>

      <br>

      <h5 class="center">Web App Development →</h5>

      <br>

    </a>

  </div>

  <div class="col-xs-12 col-sm-4">

    <a style="text-decoration: none" href="/services/mobile-app-development-reading-berkshire">

      <img src="/images/icons/server-square.png"/>

      <br>

      <h5 class="center">Backend Development →</h5>

      <br>

    </a>

  </div>

  <div class="col-xs-12 col-sm-4">

    <a style="text-decoration: none" href="/services/mobile-app-development-reading-berkshire">

    <img src="/images/icons/mobile-square.png"/>

    <br>

    <h5 class="center">Mobile App Development →</h5>

    <br>

    </a>

  </div>

  <!--<div class="col-xs-12 col-sm-3">-->

    <!--<img src="/images/icons/desktop-square.png"/>-->

    <!--<br>-->

    <!--<h5 class="center">Desktop Software Development</h5>-->

    <!--<br>-->

  <!--</div>-->

  <!--<div class="col-xs-12 col-sm-3">-->

    <!--<img src="/images/icons/server-square.png"/>-->

    <!--<br>-->

    <!--<h5 class="center">Backend Server Development</h5>-->

    <!--<br>-->

  <!--</div>-->

</div>