<style>
  ul li {
    text-align:left !important;
  }
</style>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wow fadeIn"
       style="visibility: visible; animation-name: fadeIn;">
    <h3 class="title center">Web Application Development</h3>

    <br>

    <p class="">
      We build beautiful and well-engineered products for the web. Specialists in Single Page Application (SPA)
      development and Node.js technology for full-stack web development.
    </p>

    <ul>
      <li>Angular Development Services</li>
      <li><a href="/services/react-development-reading-berkshire/">React Development Services</a></li>
      <li>Typescript Development Services</li>
      <li>Modular CSS using LESS</li>
      <li>HTML5</li>
      <li>Node.js Development Services</li>
    </ul>

  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

    <h3 class="title center">Mobile App Development</h3>

    <br>

    <p class="">
      We are thoroughbred software designers who specialise in decoupling applications and building modular code which can be run on multiple platforms.
    </p>

    <ul>
      <li><a href="/services/react-native-development-reading-berkshire">React Native Development Services</a></li>
      <li>IOS and Android Cross Platform Consultancy</li>
      <li>User Experience (UX) and Design Services</li>
      <li>Ionic</li>
      <li>Sencha</li>
    </ul>

  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wow fadeIn"
       style="visibility: visible; animation-name: fadeIn;">
    <h3 class="title center">Software Consultancy, Training & Other Services</h3>

    <br>

    <p class="">
      Need to work with a consultancy you can trust? We stand against sloppy work and silly excuses. We offer strategic consultancy on...
    </p>

    <ul>
      <li>Effective Software Leadership</li>
      <li>Cloud Migrations (AWS, Heroku)</li>
      <li>Blockchain (R3 Corda, Ripple, Ethereum)</li>
      <li>Software Craftsmanship - Modular/Flexible Code</li>
      <li>Software architecture consultancy</li>
      <li>Delivery problems : we troubleshoot complex software delivery issues</li>
      <li>Agile and Lean Delivery</li>
      <li>Test Driven Development training</li>
      <li>C#, Ruby, Python, PHP, Java</li>
    </ul>

  </div>


</div>