<section id="services">
  <div class="spacer"></div>
  <div class="wrapper">

    <h2 class="text-orange center" style="max-width:500px; margin:auto;">
      JavaScript Craftsmanship For Web and Mobile Digital Products
    </h2>

    <div class="spacer"></div>
    <div class="spacer"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wow fadeIn"
           style="visibility: visible; animation-name: fadeIn;">
        <h3 class="title center">Responsive Web App <br> & Backend Development</h3>

        <br>

        <p class="">
          We build beautiful and well-engineered products for the web. Specialists in Single Page Application (SPA)
          development. Performance optimised
          code that runs fast in any browser.
        </p>

        <ul>
          <li>Angular 1/2</li>
          <li>React</li>
          <li>Meteor</li>
          <li>Modular CSS using LESS</li>
          <li>Node.js Experts</li>
        </ul>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wow fadeIn"
           style="visibility: visible; animation-name: fadeIn;">
        <h3 class="title center">Cross-Platform <br> Mobile App Development</h3>

        <br>

        <p class="">
          We are thoroughbred software designers who specialise in decoupling applications, this allows them to run on
          multiple platforms; from desktop to mobile.
        </p>

        <ul>
          <li>Modular Code Specialists</li>
          <li>Hybrid (CSS and HTML5) using Cordova (Phonegap)</li>
          <li>Native for IOS and Android using React Native</li>
          <li>NativeScript and Angular 2</li>
        </ul>

      </div>


    </div>

  </div>
</section>