<div class="platforms row">
  <div class="col-xs-12 col-sm-3 center" style="border: solid 1px red;">

    <h5 class="center" style="color:black;"> Clean code <br> specialists</h5>

  </div>

  <div class="col-xs-12 col-sm-3" style="border: solid 1px red;">

    <h5 class="center" style="color:black;">100% Risk Free <br> trial</h5>

  </div>

  <div class="col-xs-12 col-sm-3" style="border: solid 1px red;">

    <h5 class="center" style="color:black;">Fixed price <br> available</h5>

  </div>

  <div class="col-xs-12 col-sm-3" style="border: solid 1px red;">

    <h5 class="center" style="color:black;">On-site collaboration <br> included</h5>

  </div>

</div>