<div class="platforms row">
  <div class="col-xs-12 col-sm-4 center" style="border: solid 1px red;">

    <h5 class="center" style="color:white;"> Clean code <br> specialists</h5>

  </div>

  <div class="col-xs-12 col-sm-4" style="border: solid 1px red;">

    <h5 class="center" style="color:white;">100% risk free <br> trial</h5>

  </div>

  <!--<div class="col-xs-12 col-sm-3" style="border: solid 1px red;">-->

    <!--<h5 class="center" style="color:white;">Fixed price <br> available</h5>-->

  <!--</div>-->

  <div class="col-xs-12 col-sm-4" style="border: solid 1px red;">

    <h5 class="center" style="color:white;">On-site collaboration <br> included</h5>

  </div>

</div>