---
title : Digital Transformation, Agile Software Development and JavaScript Articles
layout: default_navigation_spacer_blog
headerUrl : header.png
---



<h2 class="center">
  Articles on Digital, Leadership and Common-sense!
</h2>

<h5 class="center">for JavaScript articles go <a href="/blog/learn-javascript"> here >></a></h5>

<br>

<script type="text/javascript" src="//static.mailerlite.com/data/webforms/267474/y3l7h5.js?v10"></script>

<br>

<div class="row">


  {% for post in site.posts limit:87 %}

  {% if post.category != 'javascript' %}
  <div class="col-xs-12 col-sm-4">
    <div class="post">
      <a class="highlight" href="{{post.url}}">
        <img src="{{post.url}}images/header_thumb.png">
        <p>
          {{ post.title | truncate: 165, '...' }}
        </p>
      </a>
    </div>
  </div>
  {% endif %}


  {% endfor %}

</div>







