---
title : Digital Transformation, Agile Software Development and JavaScript Articles
layout: default_navigation_page
---

<section id="blog-listing">

  <div class="wrapper">

    <div class="spacer"></div>

    <h2 class="center">
      Engaging and insightful articles  on Digital Transformation, Agile Software Development and JavaScript
      <span class="text-orange">Every Week!</span>
    </h2>

    <br>

    <script type="text/javascript" src="//static.mailerlite.com/data/webforms/267474/y3l7h5.js?v10"></script>

    <br>

    <div class="row">

      {% for post in site.posts limit:9 %}
      <div class="col-xs-12 col-sm-4">

        <div class="post">
          <a class="highlight" href="{{post.url}}">
            <img src="{{post.url}}images/header_thumb.png">
            <p>
              {{ post.title | truncate: 165, '...' }}
            </p>
          </a>
        </div>

      </div>
      {% endfor %}

    </div>

  </div>

  {% include footer.html %}

</section>




