<script src="/libs/lib.js"></script>
<script src="/libs/scripts.js"></script>
<script id="dsq-count-scr" src="//https-www-logicroom-co.disqus.com/count.js" async></script>
<script type="text/javascript">
  /* First CSS File */
  var giftofspeed = document.createElement('link');
  giftofspeed.rel = 'stylesheet';
  giftofspeed.href = '/assets/main.css';
  giftofspeed.type = 'text/css';
  var godefer = document.getElementsByTagName('link')[0];
  godefer.parentNode.insertBefore(giftofspeed, godefer);
</script>

<script>
  $(document).ready(function() {
    setNavMenuColor();
    $(window).scroll(setNavMenuColor);
    function setNavMenuColor(){
      if(window.location.pathname === '/'){
        if ($(window).scrollTop() <= 100) {
          $('.navbar-fixed nav').css("background-color","transparent");
        }
        else if($(window).scrollTop() > 100) {
          $('.navbar-fixed nav').css("background-color","#07121b");
        }

      }
    }
  });
</script>

{% if site.url == 'https://www.logicroom.co' %}
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-51037049-1']);
  _gaq.push(['_trackPageview']);
  setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])",15000);  // --additional line
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

<!-- MailerLite Universal -->
{% if page.category == 'angular' or page.category == 'react' or page.category == 'javascript' or page.category == 'digital-transformation' or page.category == 'agile'  %}
<script>
  (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
    var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
    f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
    var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?'+(~~(new Date().getTime()/10000000));
    _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

  var ml_account = ml('accounts', '636287', 'r9i2p4n2q0', 'load');
</script>
{% endif %}
<!-- End MailerLite Universal -->