<style>

  .blue-blocks-left {opacity: 0.3}
  .blue-blocks-right {opacity: 0.3}

</style>

<div class="landing">

  <img class="blue-blocks-left" style="opacity: 0.3" src="/images/blue-blocks-left.png"/>

  <img class="blue-blocks-right" style="opacity: 0.3" src="/images/blue-blocks-right.png"/>

  <div class="wrapper">

    <br>
    <br>
    <br>
    <br>

    <div class="center">

      <a target="_blank" href="/">

        <img class="logo" src="/images/logo.png"/>

      </a>

    </div>


    <br>
    <br>
    <br>

    <h1 class="header center">
      Looking to tackle complex <span>Digital Transformation</span> product strategies in the UK?
    </h1>

    <br>
    <br>
    <br>
    <br>

    <h5 class="call-to-action center">

      We spearhead new web and mobile projects for our clients which improve <span style="color:#8ff465;">customer engagement</span> and
      increase their <span style="color:#8ff465;">return on investment</span>

    </h5>

    <br>
    <br>

    <h6 class="call-to-action center">

      Using our LeanChannel methodology; we run short but focused projects for our clients. This helps them establish which products will work
      by actually testing real-world customer engagement. Then we ship the highest quality code and ensure
      a seamless integration of our work back into the clients own infrastructure when the project is complete.

    </h6>

    <br>

    {% include contact_us_now.html %}

    <br>
    <br>
    <br>

    <script>
      function letsTalk() {
        $('html, body').animate({
          scrollTop: $("#" + 'lets-talk').offset().top
        }, 2000);
      }
    </script>

    <div class="center"
         style="padding:20px; max-width:1200px; margin:auto; z-index:1001; position:relative; border-radius:5px;">

      <a onclick="letsTalk()" style="border-radius: 2px; height:50px; width:100px; padding:10px;"
         class="btn-large">let's talk</a>


    </div>


  </div>

</div>