<div class="landing">

  <img class="blue-blocks-left" src="/images/blue-blocks-left.png"/>

  <img class="blue-blocks-right" src="/images/blue-blocks-right.png"/>

  <div class="wrapper">

    <br>
    <br>
    <br>
    <br>

    <div class="center">

      <a target="_blank" href="/">

        <img class="logo" src="/images/logo.png"/>

      </a>

    </div>


    <br>
    <br>
    <br>

    <h1 class="title center">WE BUILD <span>WELL-ENGINEERED</span> SOFTWARE</h1>

    <div class="row center">

      <div class="col-sx-12 col-sm-2"></div>
      <div class="col-sx-12 col-sm-4"><br>
        <a class="btn-large-white popup-youtube" href="https://www.youtube.com/watch?v=rZPrftWLfrc"><i class="material-icons">play_circle_outline</i>
          watch our video
        </a>
      </div>
      <div class="col-sx-12 col-sm-4"><br>
        <a href="/contact" class="btn-large">
          let's talk
        </a>
      </div>
      <div class="col-sx-12 col-sm-2"></div>

  </div>

    <br>
    <br>

    <p class="center">
      Sponsors of the <br>
      <a href="https://www.meetup.com/Digital-Transformation-In-Reading/" target="_blank">Digital Transformation Network &rarr; </a>
    </p>


</div>

</div>









<!-- Background -->
<!--<div class="landing">-->

  <!--<img class="city-scape" src="/images/city-scape.png"/>-->

  <!--<img class="blue-blocks-left" src="/images/blue-blocks-left.png"/>-->

  <!--<img class="blue-blocks-right" src="/images/blue-blocks-right.png"/>-->

  <!--<div class="wrapper">-->


    <!--<div class="row lines">-->
      <!--<div class="col-xs-12 col-lg-2  center">-->
        <!--<img class="logo" src="/images/logo.png"/>-->
      <!--</div>-->
      <!--<div class="col-xs-12 col-lg-10 center">-->
        <!--<h1 class="title">We build Web, Mobile and Enterprise Software for Organisations <span>that are serious about Digital Transformation...</span>-->
        <!--</h1>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="row">-->
      <!--<br>-->
      <!--<br>-->
      <!--<div class="col-md-3"></div>-->
      <!--<div class="col-xs-12 col-md-3 center">-->
        <!--<br>-->
        <!--<a href="/inquire" class="btn-large">inquire</a>-->
        <!--<br>-->
      <!--</div>-->
      <!--<div class="col-xs-12 col-md-3 center">-->
        <!--<br>-->
        <!--<a class="btn-large-white popup-youtube" href="https://www.youtube.com/watch?v=rZPrftWLfrc"><i class="material-icons">play_circle_outline</i>-->
          <!--watch our video</a>-->
        <!--<br>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
      <!--</div>-->
    <!--</div>-->

    <!--<br>-->
    <!--<br>-->
    <!--<br>-->

    <!--<h5 style="" class="psst text-white center-align">pssst... we also offer training and code reviews; check out our full list of <a-->
      <!--href="/#services">services</a></h5>-->

  <!--</div>-->

<!--</div>-->
