<div class="landing">

  <img class="blue-blocks-left" src="/images/blue-blocks-left.png"/>

  <img class="blue-blocks-right" src="/images/blue-blocks-right.png"/>

  <div class="wrapper">

    <br>
    <br>
    <br>
    <br>

    <div class="center">

      <a target="_blank" href="/">

        <img class="logo" src="/images/logo.png"/>

      </a>

    </div>


    <br>
    <br>
    <br>

    <h1 class="header center">
      Looking for Skilled <span style="color:#8ff465;">JavaScript</span> Engineers in the UK?
    </h1>

    <br>
    <br>
    <br>
    <br>

    <h4 class="call-to-action center">

      We work with organisations to build next-generation software which runs on any
      platform using the world's most ubiquitous and scalable language

    </h4>

    <br>
    <br>
    <br>

    <div class="center"
         style="padding:20px; max-width:1200px; margin:auto; z-index:1001; position:relative; border-radius:5px;">

      <a onclick="scrollTo('lets-talk')" style="border-radius: 2px; height:50px; width:100px; padding:10px;"
         class="btn-large">let's talk</a>

      <script>

      </script>

    </div>


  </div>

</div>