---
layout: default_navigation_spacer
type : page
---

<section id="blog-listing">

  <div class="wrapper">

    <div class="spacer"></div>

    {{ content }}

    <!--<h2 class="center">-->
      <!--Articles  on Digital Transformation, Agile Software Development and JavaScript-->
      <!--<span class="text-orange">Every Week(ish)!</span>-->
    <!--</h2>-->

    <!--<br>-->

    <!--<script type="text/javascript" src="//static.mailerlite.com/data/webforms/267474/y3l7h5.js?v10"></script>-->

    <!--<br>-->

    <!--<div class="row">-->


      <!--{{content}}-->

    <!--</div>-->

  </div>

  {% include scripts/sharethis.html %}

  {% include footer.html %}

</section>
