---
title : JavaScript, Angular, React, NativeScript, Node in Reading/London
layout: default_navigation_spacer
type : page
---




<section id="blog-listing">

  <div class="wrapper">

    <div class="spacer"></div>

    <h1 class="center">
      JavaScript, Angular, NativeScript, React Native, Node and Electron Development Services (UK Based)
    </h1>

    <p>We build cross-platform digital products for web, mobile, server and desktop using the most popular language of the web; JavaScript.</p>


    {% include services/cross_platform.html %}


    <p>JavaScript is rapidly becoming the go-to language for the enterprise, in 2016 it became the most popular language
      in existence according to Github. You can read more about it <a target="_blank" href="/javascript-is-the-future-of-application-development/">here</a>
    </p>

    {% include services/javascript_drawer.html %}

    <br>

    <h3 class="center">Let's talk about your next project</h3>

    <br>

    <form name="landing-page-services" action="thank-you" netlify>

      <div class="row">

        <div class="col-md-6 form-item center">
          <input type="text" name="name" placeholder="Name">
        </div>

        <div class="col-md-6 form-item center">
          <input type="email" name="email" placeholder="Email">
        </div>

      </div>

      <div class="row">

        <div class="col-md-6 form-item center">
          <input type="text" name="company16" placeholder="Company/Organisation">
        </div>

        <div class="col-md-6 form-item center">
          <input type="text" name="number" placeholder="Phone Number">
        </div>

      </div>


      <div class="row">

        <div class="col-md-12 form-item center">
          <textarea type="text" name="message" placeholder="Message" rows="5"></textarea>
        </div>

      </div>

      <div class="row">

        <div class="col-md-12 form-item center">

          <button class="btn-form-submit">Let's Talk</button>

        </div>

      </div>

    </form>



  </div>




</section>

{% include footer.html %}



















