---
title : Learn Test Driven Development for JavaScript
layout: default_navigation_spacer
headerUrl : header.png
---

<section id="code-reviews-legacy" class="cubes-bg">

  <div class="wrapper code-reviews-legacy">

    <br>

    <h1 class="title  center">Want to Learn Test Driven Development the 'Right Way'?</h1>

    <br>

    <h4 class="center text-grey">

      Our e-book explains a unique 5 step system which will help you nail TDD once and for all!

    </h4>

    <br>


    <div class="row row-eq-height">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box center">

        <style>

          .steps li {
            text-align: left;
            font-size: 1.2rem;
            color: #888888 !important;

          }

        </style>


        <h4 style="color:#888888;">Using JavaScript for examples the book includes :</h4>

        <br>

        <ul class="steps" style="padding-left:20px;">
          <li style="font-family:'Dosis-Medium'!important;">Observing Objectives</li>
          <li style="font-family:'Dosis-Medium'!important;">Layering</li>
          <li style="font-family:'Dosis-Medium'!important;">Decoupling Tests From Implementation Details</li>
          <li style="font-family:'Dosis-Medium'!important;">Extracting the Benefits of BDD and Integration Testing</li>
          <li style="font-family:'Dosis-Medium'!important;">Domain and Framework Separation</li>

        </ul>

        <br>

        <h5 style="width:80%; margin:auto;">If you have been getting stuck with TDD or you want to super-charge your
        efforts then purchase it now!</h5>

        <br>

        <h6>price : £2.79</h6>

        <br>


        <style>
          .ebay input {
            width:auto !important;
            height:auto !important;
          }
        </style>

        <div class="ebay">


          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="F4VRJ9SVPAWCW">
            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
          </form>

        </div>



        <!--<br>-->


        <!--<script type="text/javascript" src="//static.mailerlite.com/data/webforms/267586/b8i4h6.js?v6"></script>-->


      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box center">

        <style>
          #mlb2-3963276 .subscribe-form {
            padding: 20px !important;
          }

        </style>


        <img style="width:100%; border:1px solid rgba(248, 147, 29, 0.36); border-radius: 3px;"
             src="/images/guides/1_tdd_simplified.png"/>


      </div>

    </div>

    <br>
    <br>
    <br>



  </div>

  {% include footer.html %}

</section>


{% include scripts/sharethis.html %}