---
title : Learn Test Driven Development for JavaScript
layout: default_navigation_spacer
headerUrl : header.png
---

<section id="code-reviews-legacy" class="cubes-bg">

  <div class="wrapper code-reviews-legacy">

    <br>

    <h1 class="title center">Test Driven Development Simplified <span style="color:gray" class="center">E-Book</span></h1>



    <br>


    <div style="padding-left:10px; padding-right:10px" class="row">

      <div class="platforms row">

        <div class="col-xs-12 col-sm-7 center-align">

          <h3>What Is TDD Simplified?</h3>

          <p>‘TDD Simplified' is a systematic approach to writing software which helps developers in a team based context
            create well-engineered code which has robust automated testing to go with it. It has two fundamental principles
            : </p>

          <ol>
            <li>it helps developers reduce waste</li>
            <li>it helps developers create a standardised software design</li>
          </ol>

          <p>

            It allows for easier adoption and speed of TDD. It allows test suites to scale well because it proposes a model based on simplicity.

          </p>


          <!--<p>It is delivered in JavaScript but the same techniques can be applied to any Object Oriented language (C#, Java,-->
            <!--Ruby, Python).</p>-->

        </div>

        <div class="col-xs-12 col-sm-5 center-align">


          <img style="width:100%; border:1px solid rgba(248, 147, 29, 0.36); border-radius: 3px; max-width:100px;"
               src="/images/guides/1_tdd_simplified.png"/>

        </div>

      </div>

    </div>

    <div style="padding-left:10px; padding-right:10px" class="row">

      <h3>Why does it exist?</h3>

      <p>TDD Simplified was created because we were frustrated by how long and how difficult TDD and BDD was to apply in a
        real world context. We wanted something that actually improved productivity not reduced it. We wanted something
        that allows a team of developers to write code which consistently improves and becomes easier to work with over
        time - no matter how complex the code base is.</p>

      <h3>Who is it for?</h3>

      <p>TDD Simplified exists for developers who have a life outside of software development and but still want to ship
        great code.</p>

      <h3>Who uses it?</h3>

      <p>We have used it in many client projects for example; Cisco DCloud <a href="https://dcloud.cisco.com/"></a>. This is a 5 data centre, cross platform, enterprise
        JavaScript application with over £1million of code which has been built using TDD Simplified.</p>

      <h3>What are people saying about it?</h3>

      <p>We presented this system at Skills Matter in London. The presentation uses examples from this book.</p>

      <div style="margin:20px;" class="row">

        <div class="platforms row">

          <div class="col-xs-12 col-sm-4 center-align">


            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thanks to <a href="https://twitter.com/pteheard">@pteheard</a> for <a href="https://twitter.com/hashtag/TDD?src=hash">#TDD</a> Simplified in 5 Steps at <a href="https://twitter.com/hashtag/JavaScript?src=hash">#JavaScript</a> <a href="https://twitter.com/hashtag/Community?src=hash">#Community</a> <a href="https://twitter.com/hashtag/CodeNode?src=hash">#CodeNode</a> <a href="https://twitter.com/hashtag/SkillsCasts?src=hash">#SkillsCasts</a> <a href="https://t.co/lgjLxNclUg">https://t.co/lgjLxNclUg</a></p>&mdash; Skills Matter (@skillsmatter) <a href="https://twitter.com/skillsmatter/status/735818392096153600">May 26, 2016</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

          </div>

          <div class="col-xs-12 col-sm-4 center-align">

            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Enjoyed a great talk on TDD  by <a href="https://twitter.com/pteheard">@pteheard</a> at Skills Matter (TDD in 5 Steps).</p>&mdash; sohail si (@sohale) <a href="https://twitter.com/sohale/status/735761240199299074">May 26, 2016</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

          </div>

          <div class="col-xs-12 col-sm-4 center-align">

            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">2night was <a href="https://twitter.com/pteheard">@pteheard</a>&#39;s awesome talk on TDD &amp; javascript, with <a href="https://twitter.com/openlayers">@openlayers</a> example! Finally someone else trying to TDD <a href="https://twitter.com/hashtag/GIS?src=hash">#GIS</a> web apps! <a href="https://twitter.com/hashtag/squee?src=hash">#squee</a></p>&mdash; Kevin (@globalavocado) <a href="https://twitter.com/globalavocado/status/735585599554498560">May 25, 2016</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

          </div>

        </div>


      </div>

    </div>



    <div class="row row-eq-height">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box center">

        <style>

          .steps li {
            text-align: left;
            font-size: 1.2rem;
            /*color: #888888 !important;*/

          }

        </style>


        <h4>Using JavaScript for examples the book includes :</h4>

        <br>

        <ul class="steps" style="padding-left:20px;">
          <li style="font-family:'Dosis-Regular'!important;">Observing Objectives</li>
          <li style="font-family:'Dosis-Regular'!important;">Layering</li>
          <li style="font-family:'Dosis-Regular'!important;">Decoupling Tests From Implementation Details</li>
          <li style="font-family:'Dosis-Regular'!important;">Extracting the Benefits of BDD and Integration Testing</li>
          <li style="font-family:'Dosis-Regular'!important;">Domain and Framework Separation</li>

        </ul>

        <br>

        <h5 style="width:80%; margin:auto;">If you have been getting stuck with TDD or you want to super-charge your
          efforts then you have the option to purchase it now</h5>

        <br>

        <h5 style="text-decoration: line-through;">Price : £5</h5>
        <h5>Limited Time Discounted Price : £2.79</h5>

        <br>


        <style>
          .ebay input {
            width: auto !important;
            height: auto !important;
          }
        </style>

        <div class="ebay">


          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="F4VRJ9SVPAWCW">
            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0"
                   name="submit" alt="PayPal – The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
          </form>

        </div>


        <!--<br>-->


        <!--<script type="text/javascript" src="//static.mailerlite.com/data/webforms/267586/b8i4h6.js?v6"></script>-->


      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box center">

        <style>
          #mlb2-3963276 .subscribe-form {
            padding: 20px !important;
          }

        </style>


        <img style="width:100%; border:1px solid rgba(248, 147, 29, 0.36); border-radius: 3px;"
             src="/images/guides/1_tdd_simplified.png"/>


      </div>

    </div>

    <br>

    <h3>Watch the Skills Matter Video</h3>

    <p>

      <a target="_blank" href="https://skillsmatter.com/skillscasts/7576-tdd-simplified-in-5-steps">

        <img style="width:100%; border:1px solid rgba(248, 147, 29, 0.36); border-radius: 3px;"
             src="/images/skills-matter.png"/>

      </a>

    </p>


    <br>


  </div>

  {% include footer.html %}

</section>


{% include scripts/sharethis.html %}