---
layout: default
---

<section id="code-reviews-legacy" class="cubes-bg">


  <div class="wrapper code-review">

    <br>
    <br>

    <img class="logo wow fadeIn" src="/images/logo.png" style="width:100px;">

    <h1 class="title  center">Code Review and Audit Service For SME and Corporates</h1>

    <br>

    <h5 class="center text-grey">Do you protect your organisation against bad code?</h5>

    <br>

    <h5 class="center text-grey">Do you monitor your teams output to help them write better code?</h5>

    <br>

    <h5 class="center text-grey">Would you like to know if you can move your applications to the cloud or modernise legacy code?</h5>

    <br>

    <br>

    {% markdown code-review/bad-code.md %}

    {% include code-review/contact.html %}

    {% markdown code-review/how-it-works.md %}

    {% include code-review/contact.html %}


  </div>

  {% include footer.html %}

</section>


